@import '../mixins/index';
.upc-category-select {
    background-color: plum;
    float: right;
    padding: 0 5px;
    color: white;
    font-size: 10px;
    margin-top: 3px;
    cursor: pointer;
    @include border-radius(30px);
    @include animate(all, 0.1s, ease-in-out);
    &:hover {
        transform: scale(1.05);
        background-color: purple;
    }
}

.is-primary {
    background-color: black;
}