/*
 * Border radius
 */

@mixin border-radius( $input-border-radius: 3px) {
    -moz-border-radius: $input-border-radius;
    -webkit-border-radius: $input-border-radius;
    border-radius: $input-border-radius;
}


/*
 * Border radius top
 */

@mixin border-radius-top( $input-border-radius: 3px) {
    -moz-border-radius: $input-border-radius $input-border-radius 0 0;
    -webkit-border-radius: $input-border-radius $input-border-radius 0 0;
    border-radius: $input-border-radius $input-border-radius 0 0;
}


/*
 * Vertical align
 */

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*
 * Transition
 */

@mixin animate($property: all, $duration: .2s, $ease: ease-in-out) {
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}


/*
 * Rotate
 */

@mixin rotate( $property) {
    -webkit-transform: rotate( $property);
    -moz-transform: rotate( $property);
    -o-transform: rotate( $property);
    transform: rotate( $property);
}


/*
 * Infinite rotate
 */

@mixin infinite-rotate($property) {
    -webkit-animation: rotating $property linear infinite;
    -moz-animation: rotating $property linear infinite;
    -o-animation: rotating $property linear infinite;
    animation: rotating $property linear infinite;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}